.jumbotron{
    background: var(--background-secondary);

        color: var(--text-color);
        .btn-primary{
            background: var(--background-light);

        color: var(--text-color);
        }
}
.navbar{
    background: var(--background-light);
    color: var(--text-color);
    ul{
        li{
            a{
                color: var(--text-color);
            }
        }
    }
}