.jumbotron{
    background: var(--background-dark);

        color: var(--text-color);
        .btn-primary{
            background: var(--background-light);

        color: var(--text-color);
        }
}